*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.image-generator {
    height: 50vh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background: url(images/bg.jpg);
    background-color: aliceblue;
    background-size: cover;
    background-position: center;
}
.image-generator::before{
    content:"";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity:0.5 ;
    background: #121212;

}


.image-generator  .content{
    color: white;
    padding: 0 15px;
    max-width: 760px;
    text-align: center;
    position: relative;
}
.image-generator h1{
    font-size: 2.5rem;
    font-weight: 700;
}

.image-generator p{
    font-size: 1.3rem;
    margin-top: 10px;
}
.image-generator .generate-form{
    height: 56px;
    width: 100%;
    display: flex;
    padding: 6px;
    margin: 45px 0 15px;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    background: white;
}

.generate-form .prompt-input{  
    width: 100%;
    height: 100%;
    font-size: 1rem;
    outline: none;
    border: none;
    background: none;
    padding: 0 17px;

}
.generate-form .controls{
    display: flex;
    height: 100%;
    gap:15px;

}

.generate-form .img-quantity{
    outline: none;
    border: none;
    background: none;
    font-size: 1rem;
}
.generate-form .generate-btn{
   font-size: 1rem;
   outline: none;
   border: none;
   background: rgb(177, 129, 28); 
   color: white;
   font-weight: 400;
   border-radius: 30px;
   padding: 0 25px;
   cursor: pointer;
}

.imgage-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 0 15px;
    max-width: 1250px;
    margin: 50px auto;
    justify-content: center;
}

.imgage-gallery .img-card{
    width: 285px;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    overflow: hidden ;
    position: relative;
    background: #f2f2f2;
}

.imgage-gallery .img-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgage-gallery .img-card.loading img{
    width: 80px;
    height: 80px;
}

.imgage-gallery .img-card .download-btn{
    position: absolute;
    bottom: 15px;
    right: 15px;
    background: rgb(255, 255, 255);
    height: 36px;
    width: 36px;
    border-radius: 50%;
    display: none;
    align-items: center;
    justify-content: center;
}

.imgage-gallery .img-card:not(.loading):hover .download-btn{
    display: flex;

}

.imgage-gallery .img-card .download-btn img {
    width: 14px;
    height: 14px;
}

@media screen and (max-width:760px){
    .image-generator{
        font-size: 1.8rem;
    }
    
    .image-generator p{
        font-size: 1rem;
    }

    .image-generator .generate-form{
        margin-top: 30px;
        height: 52px;
        display: block;
     }

     .generate-form .controls{
        height: 40px;
        margin-top: 15px;
        align-items: center;
        justify-content: flex-end;
     }

     .generate-form .img-quantity{
        color: #fff;
     }

     .generate-form .img-quantity option{
        color: #000;
     }

     .generate-form .generate-btn{
        height: 100%;
    }

    .imgage-gallery{
        margin-top: 20px;
    }

    .imgage-gallery .img-card:not(.loading):hover .download-btn{
        display: flex;
    }
}
    
@media screen and (max-width:500px){
    .imgage-gallery .img-card {
        width: 100%;

    }
}