*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.image-generator {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(bg.jpg);
    background-color: aliceblue;
    background-size: cover;
    background-position: center;
}

.image-generator  .content{
    color: white;
    padding: 0 15px;
    max-width: 760px;
    text-align: center;
}
.image-generator h1{
    font-size: 2.5rem;
    font-weight: 700;
}

.image-generator p{
    font-size: 1.3rem;
    margin top: 10px;
}
